numpy~=2.0.2
jax~=0.4.38
matplotlib~=3.10.0
scipy~=1.15.0
scikit-learn~=1.6.0
chex~=0.1.88
flax~=0.10.2
optax~=0.2.4
tqdm~=4.67.1
gymnax~=0.0.8
evosax~=0.1.6
torch
pytz~=2024.2
ml-collections
tensorflow
tensorflow-probability
tensorboard
stable-baselines3
gymnasium-robotics
shimmy
pyglet==1.5.27
opencv-python
rl_zoo3
tf_keras